In [1]:
import pandas as pd
import numpy as np

In [2]:
financial_data=pd.read_csv('financial_data.csv')
financial_data=financial_data.iloc[:,1:]

In [3]:
nan_values = financial_data.isna().sum()

# Display the count of NaN values for each column
print(nan_values)

Ticker                          0
CIK                             0
Year                            0
Year-1 Revenue                 87
Revenue                        38
Year+1 Revenue                142
Year-1 Net Income              89
Net Income                     38
Year+1 Net Income             142
Accession Number                0
Conformed Submission Type       0
Conformed Period Of Report      0
Filed As Of Date                0
Date As Of Change               0
Company Conformed Name          0
Fiscal Year End                 0
Y-1 Profit Margin              89
Y Profit Margin                38
Y+1 Profit Margin             142
Current Revenue YOY            93
Next Revenue YOY              154
Current Profit Margin YOY     372
Next Profit Margin YOY        154
dtype: int64

In [4]:
financial_data

,Ticker,CIK,Year,Year-1 Revenue,Revenue,Year+1 Revenue,Year-1 Net Income,Net Income,Year+1 Net Income,Accession Number,...,Date As Of Change,Company Conformed Name,Fiscal Year End,Y-1 Profit Margin,Y Profit Margin,Y+1 Profit Margin,Current Revenue YOY,Next Revenue YOY,Current Profit Margin YOY,Next Profit Margin YOY
0,A US d,1090872,2002,8396.0,6010.0,6056.0,174.0,-1032.0,-2058.0,0000891618-02-005622,...,Not found,AGILENT TECHNOLOGIES INC,1031,0.020724,-0.171714,-0.339828,0.244654,0.013418,NaN,-0.168114
1,A US d,1090872,2003,6010.0,6056.0,5160.0,-1032.0,-2058.0,369.0,0001193125-03-098260,...,Not found,AGILENT TECHNOLOGIES INC,1031,-0.171714,-0.339828,0.071512,0.013418,-0.081186,-0.168114,0.411340
2,A US d,1090872,2006,4685.0,4973.0,5420.0,327.0,3307.0,638.0,0001047469-06-015256,...,20061222,AGILENT TECHNOLOGIES INC,1031,0.069797,0.664991,0.117712,-0.007019,0.165611,1.004819,-0.547279
3,A US d,1090872,2007,4973.0,5420.0,5774.0,3307.0,638.0,693.0,0001047469-07-010272,...,20071221,AGILENT TECHNOLOGIES INC,1031,0.664991,0.117712,0.120021,0.230127,-0.007765,-0.547279,0.002309
4,A US d,1090872,2008,5420.0,5774.0,4481.0,638.0,693.0,-31.0,0001047469-08-013312,...,20081219,AGILENT TECHNOLOGIES INC,1031,0.117712,0.120021,-0.006918,-0.007765,NaN,0.002309,-0.126939
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3329,ZTS US d,1555280,2018,5307.0,5825.0,6260.0,864.0,1428.0,1500.0,0001555280-19-000041,...,20190214,Zoetis Inc.,1231,0.162804,0.245150,0.239617,0.031562,0.130861,0.082346,-0.005534
3330,ZTS US d,1555280,2019,5825.0,6260.0,6675.0,1428.0,1500.0,1638.0,0001555280-20-000054,...,20200213,Zoetis Inc.,1231,0.245150,0.239617,0.245393,0.130861,0.010314,-0.005534,0.005777
3331,ZTS US d,1555280,2020,6260.0,6675.0,7776.0,1500.0,1638.0,2037.0,0001555280-21-000098,...,20210216,Zoetis Inc.,1231,0.239617,0.245393,0.261960,0.010314,NaN,0.005777,0.016567
3332,ZTS US d,1555280,2021,6675.0,7776.0,8080.0,1638.0,2037.0,2114.0,0001555280-22-000078,...,20220215,Zoetis Inc.,1231,0.245393,0.261960,0.261634,0.120884,-0.042873,0.016567,-0.000326
3333,ZTS US d,1555280,2022,7776.0,8080.0,8544.0,2037.0,2114.0,2344.0,0001555280-23-000074,...,20230214,Zoetis Inc.,1231,0.261960,0.261634,0.274345,-0.042873,0.038290,-0.000326,0.012711

In [5]:
financial_data['CIK'] = financial_data['CIK'].astype(str).str.zfill(10)
financial_data = financial_data.astype(str)

In [6]:
roe=pd.read_excel('ROE.xlsx')
asset=pd.read_excel('assets.xlsx')

In [7]:
roe

,Ticker,CIK,2024,2023,2022,2021,2020,2019,2018,2017,...,2008,2007,2006,2005,2004,2003,2002,2001,2000,1999
0,GOOGL US,1652044,27.355646,27.355646,23.621300,32.069324,18.995439,18.119609,18.620543,8.686346,...,16.599172,21.161696,23.262176,23.734944,22.980930,31.348113,NaN,NaN,NaN,NaN
1,FOXA US,1754301,11.410416,11.410416,10.729232,20.266767,9.969562,16.324651,27.882960,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NWSA US,1564708,1.829792,1.829792,7.582304,4.179067,-15.173981,1.681584,-15.079681,-6.621035,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MMM US,66740,-71.637053,-71.637053,38.813491,42.424677,47.527257,45.490710,50.086615,44.444444,...,31.997041,37.740717,37.840228,29.952342,32.743799,34.630350,32.684825,22.667829,27.800312,28.842536
4,AOS US,91142,30.990229,30.990229,13.167966,26.469230,19.623908,21.868905,26.425533,18.764635,...,11.709200,12.229617,11.791908,7.727462,6.067878,9.602190,10.664327,3.221689,6.766051,10.195427
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,YUM US,1041061,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,70.574534,57.172557,50.065703,54.511971,71.995333,167.048711,NaN,NaN,NaN
496,ZBRA US,877212,10.261744,10.261744,16.197306,32.644306,25.307557,34.278513,38.819733,2.091021,...,-4.762646,12.369648,8.175136,12.827052,16.645361,15.462156,14.623730,15.075187,19.878573,22.455101
497,ZBH US,1136869,8.356319,8.356319,1.875127,3.231556,-1.130081,9.565754,-3.296374,16.947680,...,15.290228,14.912103,17.379442,16.984916,15.292557,19.734442,115.865168,88.195467,53.987730,NaN
498,ZION US,1666757,13.355317,13.355317,15.300769,15.170240,7.159235,11.333619,12.035120,7.836111,...,-5.829797,9.784299,12.895625,13.664562,15.234028,13.749785,11.011551,13.942858,9.405287,12.467911
499,ZTS US,1555280,49.861732,49.861732,47.250782,49.013474,50.578972,61.312078,72.212389,53.054959,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
asset

,Ticker,CIK,2024,2023,2022,2021,2020,2019,2018,2017,...,2008,2007,2006,2005,2004,2003,2002,2001,2000,1999
0,GOOGL US,0001652044,402392.0,402392.0,365264.0,359268.0,319616.0,275909.0,232792.0,197295.0,...,31767.575,25335.806,18473.351,10271.813,3313.351,871.458008,286.891998,NaN,NaN,NaN
1,FOXA US,0001754301,21866.0,21866.0,22185.0,22926.0,21750.0,19509.0,13121.0,10348.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NWSA US,0001564708,16921.0,16921.0,17221.0,16771.0,14261.0,15711.0,16346.0,14552.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MMM US,0000066740,50580.0,50580.0,46455.0,47072.0,47344.0,44659.0,36500.0,37987.0,...,25793.000,24694.000,21294.000,20541.000,20708.000,17600.000000,15329.000000,14606.000,14522.000000,13896.000000
4,AOS US,0000091142,3213.9,3213.9,3332.3,3474.4,3160.7,3058.0,3071.5,3197.4,...,1883.900,1854.400,1839.900,1292.700,1314.000,1279.900000,1224.857000,1293.923,1064.868000,1063.986000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,YUM US,0001041061,6231.0,6231.0,5846.0,5966.0,5852.0,5231.0,4130.0,5311.0,...,6527.000,7188.000,6353.000,5797.000,5696.000,5620.000000,5400.000000,4425.000,4149.000000,3961.000000
496,ZBRA US,0000877212,7306.0,7306.0,7529.0,6215.0,5375.0,4711.0,4339.0,4275.0,...,850.878,1034.278,963.142,918.415,862.222,701.611023,573.088013,479.556,418.895996,394.643005
497,ZBH US,0001136869,21496.9,21496.9,21066.0,23456.4,24417.7,24638.7,24126.8,26014.0,...,7239.000,6633.700,5974.400,5721.900,5695.500,5156.000000,858.900000,745.000,597.000000,606.000000
498,ZION US,0001666757,87203.0,87203.0,89545.0,93200.0,81479.0,69172.0,68746.0,66288.0,...,55092.791,52947.414,46970.226,42779.639,31469.834,28558.238000,26565.690000,24304.164,21939.440000,20280.900000
499,ZTS US,0001555280,14286.0,14286.0,14925.0,13900.0,13609.0,11545.0,10777.0,8586.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
year_column_roe = roe.columns[1:]
year_column_asset=asset.columns[1:]

In [10]:
roe_melted = pd.melt(roe, id_vars=['Ticker','CIK'], value_vars = year_column_roe, var_name = 'Year')
asset_melted = pd.melt(asset, id_vars=['Ticker','CIK'], value_vars = year_column_asset,  var_name = 'Year')

In [11]:
roe_melted.columns

Index(['Ticker', 'CIK', 'Year', 'value'], dtype='object')

In [12]:
roe_melted = roe_melted.astype(str)
roe_melted['CIK'] = roe_melted['CIK'].astype(str).str.zfill(10)
#roe_melted.columns = roe_melted.columns.str.upper()
roe_melted.rename(columns={'value':'ROE'},inplace=True)

asset_melted = asset_melted.astype(str)
asset_melted['CIK'] = asset_melted['CIK'].astype(str).str.zfill(10)
#asset_melted.columns = asset_melted.columns.str.upper()
asset_melted.rename(columns={'value':'Asset'},inplace=True)

In [13]:
roe_melted = roe_melted.sort_values(by=['Ticker','Year'])
asset_melted = asset_melted.sort_values(by=['Ticker','Year'])

In [14]:
asset_melted.columns

Index(['Ticker', 'CIK', 'Year', 'Asset'], dtype='object')

In [15]:
asset_melted['Y-1 Asset'] = asset_melted.groupby('CIK')['Asset'].shift(1)
asset_melted['Y+1 Asset'] = asset_melted.groupby('CIK')['Asset'].shift(-1)

In [16]:
roe_melted.columns

Index(['Ticker', 'CIK', 'Year', 'ROE'], dtype='object')

In [17]:
# Group by CIK and then use the shift function to get the lagged and lead values
roe_melted['Y-1 ROE'] = roe_melted.groupby('CIK')['ROE'].shift(1)
roe_melted['Y+1 ROE'] = roe_melted.groupby('CIK')['ROE'].shift(-1)

In [18]:
import re

# Assuming 'TICKER FROM BLOOMBERG' is the name of your column
financial_data['Ticker'] = financial_data['Ticker'].apply(lambda x: re.sub(r'\s*US.*$', ' US', x))

In [19]:
financial_data.head(5)

,Ticker,CIK,Year,Year-1 Revenue,Revenue,Year+1 Revenue,Year-1 Net Income,Net Income,Year+1 Net Income,Accession Number,...,Date As Of Change,Company Conformed Name,Fiscal Year End,Y-1 Profit Margin,Y Profit Margin,Y+1 Profit Margin,Current Revenue YOY,Next Revenue YOY,Current Profit Margin YOY,Next Profit Margin YOY
0,A US,0001090872,2002,8396.0,6010.0,6056.0,174.0,-1032.0,-2058.0,0000891618-02-005622,...,Not found,AGILENT TECHNOLOGIES INC,1031,0.0207241543592186,-0.1717138103161397,-0.3398282694848084,0.2446544151641239,0.0134184561810795,nan,-0.1681144591686686
1,A US,0001090872,2003,6010.0,6056.0,5160.0,-1032.0,-2058.0,369.0,0001193125-03-098260,...,Not found,AGILENT TECHNOLOGIES INC,1031,-0.1717138103161397,-0.3398282694848084,0.0715116279069767,0.0134184561810795,-0.0811857146129704,-0.1681144591686686,0.4113398973917851
2,A US,0001090872,2006,4685.0,4973.0,5420.0,327.0,3307.0,638.0,0001047469-06-015256,...,20061222,AGILENT TECHNOLOGIES INC,1031,0.0697972251867662,0.6649909511361352,0.1177121771217712,-0.0070188027671574,0.1656109210392602,1.0048192206209436,-0.547278774014364
3,A US,0001090872,2007,4973.0,5420.0,5774.0,3307.0,638.0,693.0,0001047469-07-010272,...,20071221,AGILENT TECHNOLOGIES INC,1031,0.6649909511361352,0.1177121771217712,0.1200207828195358,0.230126901094643,-0.0077646354716268,-0.547278774014364,0.0023086056977646
4,A US,0001090872,2008,5420.0,5774.0,4481.0,638.0,693.0,-31.0,0001047469-08-013312,...,20081219,AGILENT TECHNOLOGIES INC,1031,0.1177121771217712,0.1200207828195358,-0.0069180986386967,-0.0077646354716268,nan,0.0023086056977646,-0.1269388814582325

In [20]:
nan_values = financial_data.isna().sum()

# Display the count of NaN values for each column
print(nan_values)

Ticker                        0
CIK                           0
Year                          0
Year-1 Revenue                0
Revenue                       0
Year+1 Revenue                0
Year-1 Net Income             0
Net Income                    0
Year+1 Net Income             0
Accession Number              0
Conformed Submission Type     0
Conformed Period Of Report    0
Filed As Of Date              0
Date As Of Change             0
Company Conformed Name        0
Fiscal Year End               0
Y-1 Profit Margin             0
Y Profit Margin               0
Y+1 Profit Margin             0
Current Revenue YOY           0
Next Revenue YOY              0
Current Profit Margin YOY     0
Next Profit Margin YOY        0
dtype: int64

In [21]:
financial_data.info

<bound method DataFrame.info of       Ticker         CIK  Year Year-1 Revenue Revenue Year+1 Revenue  \
0       A US  0001090872  2002         8396.0  6010.0         6056.0
1       A US  0001090872  2003         6010.0  6056.0         5160.0
2       A US  0001090872  2006         4685.0  4973.0         5420.0
3       A US  0001090872  2007         4973.0  5420.0         5774.0
4       A US  0001090872  2008         5420.0  5774.0         4481.0
...      ...         ...   ...            ...     ...            ...
3329  ZTS US  0001555280  2018         5307.0  5825.0         6260.0
3330  ZTS US  0001555280  2019         5825.0  6260.0         6675.0
3331  ZTS US  0001555280  2020         6260.0  6675.0         7776.0
3332  ZTS US  0001555280  2021         6675.0  7776.0         8080.0
3333  ZTS US  0001555280  2022         7776.0  8080.0         8544.0

     Year-1 Net Income Net Income Year+1 Net Income      Accession Number  \
0                174.0    -1032.0           -2058.0  0000891618-02-005622
1              -1032.0    -2058.0             369.0  0001193125-03-098260
2                327.0     3307.0             638.0  0001047469-06-015256
3               3307.0      638.0             693.0  0001047469-07-010272
4                638.0      693.0             -31.0  0001047469-08-013312
...                ...        ...               ...                   ...
3329             864.0     1428.0            1500.0  0001555280-19-000041
3330            1428.0     1500.0            1638.0  0001555280-20-000054
3331            1500.0     1638.0            2037.0  0001555280-21-000098
3332            1638.0     2037.0            2114.0  0001555280-22-000078
3333            2037.0     2114.0            2344.0  0001555280-23-000074

      ... Date As Of Change    Company Conformed Name Fiscal Year End  \
0     ...         Not found  AGILENT TECHNOLOGIES INC            1031
1     ...         Not found  AGILENT TECHNOLOGIES INC            1031
2     ...          20061222  AGILENT TECHNOLOGIES INC            1031
3     ...          20071221  AGILENT TECHNOLOGIES INC            1031
4     ...          20081219  AGILENT TECHNOLOGIES INC            1031
...   ...               ...                       ...             ...
3329  ...          20190214               Zoetis Inc.            1231
3330  ...          20200213               Zoetis Inc.            1231
3331  ...          20210216               Zoetis Inc.            1231
3332  ...          20220215               Zoetis Inc.            1231
3333  ...          20230214               Zoetis Inc.            1231

        Y-1 Profit Margin      Y Profit Margin    Y+1 Profit Margin  \
0      0.0207241543592186  -0.1717138103161397  -0.3398282694848084
1     -0.1717138103161397  -0.3398282694848084   0.0715116279069767
2      0.0697972251867662   0.6649909511361352   0.1177121771217712
3      0.6649909511361352   0.1177121771217712   0.1200207828195358
4      0.1177121771217712   0.1200207828195358  -0.0069180986386967
...                   ...                  ...                  ...
3329   0.1628038439796495   0.2451502145922746   0.2396166134185303
3330   0.2451502145922746   0.2396166134185303   0.2453932584269663
3331   0.2396166134185303   0.2453932584269663   0.2619598765432099
3332   0.2453932584269663   0.2619598765432099   0.2616336633663366
3333   0.2619598765432099   0.2616336633663366   0.2743445692883895

      Current Revenue YOY     Next Revenue YOY Current Profit Margin YOY  \
0      0.2446544151641239   0.0134184561810795                       nan
1      0.0134184561810795  -0.0811857146129704       -0.1681144591686686
2     -0.0070188027671574   0.1656109210392602        1.0048192206209436
3       0.230126901094643  -0.0077646354716268        -0.547278774014364
4     -0.0077646354716268                  nan        0.0023086056977646
...                   ...                  ...                       ...
3329   0.0315620613595347   0.1308607417774667        0.0823463706126251
3330   0.1308607417774667   0.0103135313531353       -0.0055336011737443
3331   0.0103135313531353                  nan        0.0057766450084359
3332   0.1208842897460018  -0.0428731291089662        0.0165666181162436
3333  -0.0428731291089662   0.0382900986481549       -0.0003262131768732

     Next Profit Margin YOY
0       -0.1681144591686686
1        0.4113398973917851
2        -0.547278774014364
3        0.0023086056977646
4       -0.1269388814582325
...                     ...
3329    -0.0055336011737443
3330     0.0057766450084359
3331     0.0165666181162436
3332    -0.0003262131768732
3333     0.0127109059220528

[3334 rows x 23 columns]>

In [22]:
merged_df = pd.merge(roe_melted, financial_data, how='inner', left_on=['CIK', 'Year'], right_on=['CIK', 'Year'])
merged_df = pd.merge(merged_df, asset_melted, how='inner', on=['CIK','Year'])

In [23]:
merged_df

,Ticker_x,CIK,Year,ROE,Y-1 ROE,Y+1 ROE,Ticker_y,Year-1 Revenue,Revenue,Year+1 Revenue,...,Y Profit Margin,Y+1 Profit Margin,Current Revenue YOY,Next Revenue YOY,Current Profit Margin YOY,Next Profit Margin YOY,Ticker,Asset,Y-1 Asset,Y+1 Asset
0,A US,0001090872,2002,-20.06610927,3.185646283,-55.24090726,A US,8396.0,6010.0,6056.0,...,-0.1717138103161397,-0.3398282694848084,0.2446544151641239,0.0134184561810795,nan,-0.1681144591686686,A US,8203.0,7986.0,6297.0
1,A US,0001090872,2003,-55.24090726,-20.06610927,11.54387611,A US,6010.0,6056.0,5160.0,...,-0.3398282694848084,0.0715116279069767,0.0134184561810795,-0.0811857146129704,-0.1681144591686686,0.4113398973917851,A US,6297.0,8203.0,7144.0
2,A US,0001090872,2006,85.57381291,8.549019608,18.54112177,A US,4685.0,4973.0,5420.0,...,0.6649909511361352,0.1177121771217712,-0.0070188027671574,0.1656109210392602,1.0048192206209436,-0.547278774014364,A US,7369.0,6751.0,7554.0
3,A US,0001090872,2007,18.54112177,85.57381291,23.92542724,A US,4973.0,5420.0,5774.0,...,0.1177121771217712,0.1200207828195358,0.230126901094643,-0.0077646354716268,-0.547278774014364,0.0023086056977646,A US,7554.0,7369.0,7437.0
4,A US,0001090872,2008,23.92542724,18.54112177,-1.224086871,A US,5420.0,5774.0,4481.0,...,0.1200207828195358,-0.0069180986386967,-0.0077646354716268,nan,0.0023086056977646,-0.1269388814582325,A US,7437.0,7554.0,7612.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3315,ZTS US,0001555280,2018,72.21238938,53.05495855,61.31207848,ZTS US,5307.0,5825.0,6260.0,...,0.2451502145922746,0.2396166134185303,0.0315620613595347,0.1308607417774667,0.0823463706126251,-0.0055336011737443,ZTS US,10777.0,8586.0,11545.0
3316,ZTS US,0001555280,2019,61.31207848,72.21238938,50.57897175,ZTS US,5825.0,6260.0,6675.0,...,0.2396166134185303,0.2453932584269663,0.1308607417774667,0.0103135313531353,-0.0055336011737443,0.0057766450084359,ZTS US,11545.0,10777.0,13609.0
3317,ZTS US,0001555280,2020,50.57897175,61.31207848,49.01347449,ZTS US,6260.0,6675.0,7776.0,...,0.2453932584269663,0.2619598765432099,0.0103135313531353,nan,0.0057766450084359,0.0165666181162436,ZTS US,13609.0,11545.0,13900.0
3318,ZTS US,0001555280,2021,49.01347449,50.57897175,47.2507823,ZTS US,6675.0,7776.0,8080.0,...,0.2619598765432099,0.2616336633663366,0.1208842897460018,-0.0428731291089662,0.0165666181162436,-0.0003262131768732,ZTS US,13900.0,13609.0,14925.0
3319,ZTS US,0001555280,2022,47.2507823,49.01347449,49.86173155,ZTS US,7776.0,8080.0,8544.0,...,0.2616336633663366,0.2743445692883895,-0.0428731291089662,0.0382900986481549,-0.0003262131768732,0.0127109059220528,ZTS US,14925.0,13900.0,14286.0

In [24]:
merged_df.columns

Index(['Ticker_x', 'CIK', 'Year', 'ROE', 'Y-1 ROE', 'Y+1 ROE', 'Ticker_y',
       'Year-1 Revenue', 'Revenue', 'Year+1 Revenue', 'Year-1 Net Income',
       'Net Income', 'Year+1 Net Income', 'Accession Number',
       'Conformed Submission Type', 'Conformed Period Of Report',
       'Filed As Of Date', 'Date As Of Change', 'Company Conformed Name',
       'Fiscal Year End', 'Y-1 Profit Margin', 'Y Profit Margin',
       'Y+1 Profit Margin', 'Current Revenue YOY', 'Next Revenue YOY',
       'Current Profit Margin YOY', 'Next Profit Margin YOY', 'Ticker',
       'Asset', 'Y-1 Asset', 'Y+1 Asset'],
      dtype='object')

In [25]:
merged_df.drop(columns=['Ticker_y','Ticker'],inplace=True)

In [26]:
merged_df.rename(columns={ 'Ticker_x':'Ticker'},inplace=True)

In [27]:
merged_df.columns

Index(['Ticker', 'CIK', 'Year', 'ROE', 'Y-1 ROE', 'Y+1 ROE', 'Year-1 Revenue',
       'Revenue', 'Year+1 Revenue', 'Year-1 Net Income', 'Net Income',
       'Year+1 Net Income', 'Accession Number', 'Conformed Submission Type',
       'Conformed Period Of Report', 'Filed As Of Date', 'Date As Of Change',
       'Company Conformed Name', 'Fiscal Year End', 'Y-1 Profit Margin',
       'Y Profit Margin', 'Y+1 Profit Margin', 'Current Revenue YOY',
       'Next Revenue YOY', 'Current Profit Margin YOY',
       'Next Profit Margin YOY', 'Asset', 'Y-1 Asset', 'Y+1 Asset'],
      dtype='object')

In [28]:
merged_df.head(5)

,Ticker,CIK,Year,ROE,Y-1 ROE,Y+1 ROE,Year-1 Revenue,Revenue,Year+1 Revenue,Year-1 Net Income,...,Y-1 Profit Margin,Y Profit Margin,Y+1 Profit Margin,Current Revenue YOY,Next Revenue YOY,Current Profit Margin YOY,Next Profit Margin YOY,Asset,Y-1 Asset,Y+1 Asset
0,A US,0001090872,2002,-20.06610927,3.185646283,-55.24090726,8396.0,6010.0,6056.0,174.0,...,0.0207241543592186,-0.1717138103161397,-0.3398282694848084,0.2446544151641239,0.0134184561810795,nan,-0.1681144591686686,8203.0,7986.0,6297.0
1,A US,0001090872,2003,-55.24090726,-20.06610927,11.54387611,6010.0,6056.0,5160.0,-1032.0,...,-0.1717138103161397,-0.3398282694848084,0.0715116279069767,0.0134184561810795,-0.0811857146129704,-0.1681144591686686,0.4113398973917851,6297.0,8203.0,7144.0
2,A US,0001090872,2006,85.57381291,8.549019608,18.54112177,4685.0,4973.0,5420.0,327.0,...,0.0697972251867662,0.6649909511361352,0.1177121771217712,-0.0070188027671574,0.1656109210392602,1.0048192206209436,-0.547278774014364,7369.0,6751.0,7554.0
3,A US,0001090872,2007,18.54112177,85.57381291,23.92542724,4973.0,5420.0,5774.0,3307.0,...,0.6649909511361352,0.1177121771217712,0.1200207828195358,0.230126901094643,-0.0077646354716268,-0.547278774014364,0.0023086056977646,7554.0,7369.0,7437.0
4,A US,0001090872,2008,23.92542724,18.54112177,-1.224086871,5420.0,5774.0,4481.0,638.0,...,0.1177121771217712,0.1200207828195358,-0.0069180986386967,-0.0077646354716268,nan,0.0023086056977646,-0.1269388814582325,7437.0,7554.0,7612.0

In [29]:
desired_columns = ['Ticker', 'CIK', 'Year','Y-1 ROE', 'ROE','Y+1 ROE', 'Y-1 Asset','Asset', 'Y+1 Asset','Year-1 Revenue',
       'Revenue', 'Year+1 Revenue', 'Year-1 Net Income', 'Net Income',
       'Year+1 Net Income','Accession Number', 'Conformed Submission Type',
       'Conformed Period Of Report', 'Filed As Of Date', 'Date As Of Change',
       'Company Conformed Name', 'Fiscal Year End', 'Y-1 Profit Margin',
       'Y Profit Margin', 'Y+1 Profit Margin', 'Current Revenue YOY',
       'Next Revenue YOY', 'Current Profit Margin YOY',
       'Next Profit Margin YOY']

In [30]:
merged_df = merged_df[desired_columns]
merged_df

,Ticker,CIK,Year,Y-1 ROE,ROE,Y+1 ROE,Y-1 Asset,Asset,Y+1 Asset,Year-1 Revenue,...,Date As Of Change,Company Conformed Name,Fiscal Year End,Y-1 Profit Margin,Y Profit Margin,Y+1 Profit Margin,Current Revenue YOY,Next Revenue YOY,Current Profit Margin YOY,Next Profit Margin YOY
0,A US,0001090872,2002,3.185646283,-20.06610927,-55.24090726,7986.0,8203.0,6297.0,8396.0,...,Not found,AGILENT TECHNOLOGIES INC,1031,0.0207241543592186,-0.1717138103161397,-0.3398282694848084,0.2446544151641239,0.0134184561810795,nan,-0.1681144591686686
1,A US,0001090872,2003,-20.06610927,-55.24090726,11.54387611,8203.0,6297.0,7144.0,6010.0,...,Not found,AGILENT TECHNOLOGIES INC,1031,-0.1717138103161397,-0.3398282694848084,0.0715116279069767,0.0134184561810795,-0.0811857146129704,-0.1681144591686686,0.4113398973917851
2,A US,0001090872,2006,8.549019608,85.57381291,18.54112177,6751.0,7369.0,7554.0,4685.0,...,20061222,AGILENT TECHNOLOGIES INC,1031,0.0697972251867662,0.6649909511361352,0.1177121771217712,-0.0070188027671574,0.1656109210392602,1.0048192206209436,-0.547278774014364
3,A US,0001090872,2007,85.57381291,18.54112177,23.92542724,7369.0,7554.0,7437.0,4973.0,...,20071221,AGILENT TECHNOLOGIES INC,1031,0.6649909511361352,0.1177121771217712,0.1200207828195358,0.230126901094643,-0.0077646354716268,-0.547278774014364,0.0023086056977646
4,A US,0001090872,2008,18.54112177,23.92542724,-1.224086871,7554.0,7437.0,7612.0,5420.0,...,20081219,AGILENT TECHNOLOGIES INC,1031,0.1177121771217712,0.1200207828195358,-0.0069180986386967,-0.0077646354716268,nan,0.0023086056977646,-0.1269388814582325
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3315,ZTS US,0001555280,2018,53.05495855,72.21238938,61.31207848,8586.0,10777.0,11545.0,5307.0,...,20190214,Zoetis Inc.,1231,0.1628038439796495,0.2451502145922746,0.2396166134185303,0.0315620613595347,0.1308607417774667,0.0823463706126251,-0.0055336011737443
3316,ZTS US,0001555280,2019,72.21238938,61.31207848,50.57897175,10777.0,11545.0,13609.0,5825.0,...,20200213,Zoetis Inc.,1231,0.2451502145922746,0.2396166134185303,0.2453932584269663,0.1308607417774667,0.0103135313531353,-0.0055336011737443,0.0057766450084359
3317,ZTS US,0001555280,2020,61.31207848,50.57897175,49.01347449,11545.0,13609.0,13900.0,6260.0,...,20210216,Zoetis Inc.,1231,0.2396166134185303,0.2453932584269663,0.2619598765432099,0.0103135313531353,nan,0.0057766450084359,0.0165666181162436
3318,ZTS US,0001555280,2021,50.57897175,49.01347449,47.2507823,13609.0,13900.0,14925.0,6675.0,...,20220215,Zoetis Inc.,1231,0.2453932584269663,0.2619598765432099,0.2616336633663366,0.1208842897460018,-0.0428731291089662,0.0165666181162436,-0.0003262131768732
3319,ZTS US,0001555280,2022,49.01347449,47.2507823,49.86173155,13900.0,14925.0,14286.0,7776.0,...,20230214,Zoetis Inc.,1231,0.2619598765432099,0.2616336633663366,0.2743445692883895,-0.0428731291089662,0.0382900986481549,-0.0003262131768732,0.0127109059220528

In [31]:
nan_values = merged_df.isna().sum()

# Display the count of NaN values for each column
print(nan_values)

Ticker                         0
CIK                            0
Year                           0
Y-1 ROE                       17
ROE                            0
Y+1 ROE                        0
Y-1 Asset                     17
Asset                          0
Y+1 Asset                      0
Year-1 Revenue                 0
Revenue                        0
Year+1 Revenue                 0
Year-1 Net Income              0
Net Income                     0
Year+1 Net Income              0
Accession Number               0
Conformed Submission Type      0
Conformed Period Of Report     0
Filed As Of Date               0
Date As Of Change              0
Company Conformed Name         0
Fiscal Year End                0
Y-1 Profit Margin              0
Y Profit Margin                0
Y+1 Profit Margin              0
Current Revenue YOY            0
Next Revenue YOY               0
Current Profit Margin YOY      0
Next Profit Margin YOY         0
dtype: int64

In [32]:
# Group by CIK
grouped = merged_df.groupby('CIK')

# Define a function to calculate Current and Future ROE YOY
def calculate_roe_yoy(group):
    # Calculate Current ROE YOY
    group['Current ROE YOY'] = group['ROE'].astype(float) - group['Y-1 ROE'].astype(float)
    
    # Calculate Future ROE YOY
    group['Future ROE YOY'] = group['Y+1 ROE'].astype(float) - group['ROE'].astype(float)
    
    return group

# Apply the function to each group
merged_df = grouped.apply(calculate_roe_yoy)

# Reset index if needed
merged_df.reset_index(drop=True, inplace=True)

/var/folders/yy/7jj_crdd2md8tf5ft095lnfr0000gn/T/ipykernel_31314/3957865818.py:15: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  merged_df = grouped.apply(calculate_roe_yoy)

In [33]:
merged_df

,Ticker,CIK,Year,Y-1 ROE,ROE,Y+1 ROE,Y-1 Asset,Asset,Y+1 Asset,Year-1 Revenue,...,Fiscal Year End,Y-1 Profit Margin,Y Profit Margin,Y+1 Profit Margin,Current Revenue YOY,Next Revenue YOY,Current Profit Margin YOY,Next Profit Margin YOY,Current ROE YOY,Future ROE YOY
0,A US,0001090872,2002,3.185646283,-20.06610927,-55.24090726,7986.0,8203.0,6297.0,8396.0,...,1031,0.0207241543592186,-0.1717138103161397,-0.3398282694848084,0.2446544151641239,0.0134184561810795,nan,-0.1681144591686686,-23.251756,-35.174798
1,A US,0001090872,2003,-20.06610927,-55.24090726,11.54387611,8203.0,6297.0,7144.0,6010.0,...,1031,-0.1717138103161397,-0.3398282694848084,0.0715116279069767,0.0134184561810795,-0.0811857146129704,-0.1681144591686686,0.4113398973917851,-35.174798,66.784783
2,A US,0001090872,2006,8.549019608,85.57381291,18.54112177,6751.0,7369.0,7554.0,4685.0,...,1031,0.0697972251867662,0.6649909511361352,0.1177121771217712,-0.0070188027671574,0.1656109210392602,1.0048192206209436,-0.547278774014364,77.024793,-67.032691
3,A US,0001090872,2007,85.57381291,18.54112177,23.92542724,7369.0,7554.0,7437.0,4973.0,...,1031,0.6649909511361352,0.1177121771217712,0.1200207828195358,0.230126901094643,-0.0077646354716268,-0.547278774014364,0.0023086056977646,-67.032691,5.384305
4,A US,0001090872,2008,18.54112177,23.92542724,-1.224086871,7554.0,7437.0,7612.0,5420.0,...,1031,0.1177121771217712,0.1200207828195358,-0.0069180986386967,-0.0077646354716268,nan,0.0023086056977646,-0.1269388814582325,5.384305,-25.149514
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3315,ZTS US,0001555280,2018,53.05495855,72.21238938,61.31207848,8586.0,10777.0,11545.0,5307.0,...,1231,0.1628038439796495,0.2451502145922746,0.2396166134185303,0.0315620613595347,0.1308607417774667,0.0823463706126251,-0.0055336011737443,19.157431,-10.900311
3316,ZTS US,0001555280,2019,72.21238938,61.31207848,50.57897175,10777.0,11545.0,13609.0,5825.0,...,1231,0.2451502145922746,0.2396166134185303,0.2453932584269663,0.1308607417774667,0.0103135313531353,-0.0055336011737443,0.0057766450084359,-10.900311,-10.733107
3317,ZTS US,0001555280,2020,61.31207848,50.57897175,49.01347449,11545.0,13609.0,13900.0,6260.0,...,1231,0.2396166134185303,0.2453932584269663,0.2619598765432099,0.0103135313531353,nan,0.0057766450084359,0.0165666181162436,-10.733107,-1.565497
3318,ZTS US,0001555280,2021,50.57897175,49.01347449,47.2507823,13609.0,13900.0,14925.0,6675.0,...,1231,0.2453932584269663,0.2619598765432099,0.2616336633663366,0.1208842897460018,-0.0428731291089662,0.0165666181162436,-0.0003262131768732,-1.565497,-1.762692
3319,ZTS US,0001555280,2022,49.01347449,47.2507823,49.86173155,13900.0,14925.0,14286.0,7776.0,...,1231,0.2619598765432099,0.2616336633663366,0.2743445692883895,-0.0428731291089662,0.0382900986481549,-0.0003262131768732,0.0127109059220528,-1.762692,2.610949

In [34]:
merged_df.columns

Index(['Ticker', 'CIK', 'Year', 'Y-1 ROE', 'ROE', 'Y+1 ROE', 'Y-1 Asset',
       'Asset', 'Y+1 Asset', 'Year-1 Revenue', 'Revenue', 'Year+1 Revenue',
       'Year-1 Net Income', 'Net Income', 'Year+1 Net Income',
       'Accession Number', 'Conformed Submission Type',
       'Conformed Period Of Report', 'Filed As Of Date', 'Date As Of Change',
       'Company Conformed Name', 'Fiscal Year End', 'Y-1 Profit Margin',
       'Y Profit Margin', 'Y+1 Profit Margin', 'Current Revenue YOY',
       'Next Revenue YOY', 'Current Profit Margin YOY',
       'Next Profit Margin YOY', 'Current ROE YOY', 'Future ROE YOY'],
      dtype='object')

In [35]:
nan_values = merged_df.isna().sum()

# Display the count of NaN values for each column
print(nan_values)

Ticker                          0
CIK                             0
Year                            0
Y-1 ROE                        17
ROE                             0
Y+1 ROE                         0
Y-1 Asset                      17
Asset                           0
Y+1 Asset                       0
Year-1 Revenue                  0
Revenue                         0
Year+1 Revenue                  0
Year-1 Net Income               0
Net Income                      0
Year+1 Net Income               0
Accession Number                0
Conformed Submission Type       0
Conformed Period Of Report      0
Filed As Of Date                0
Date As Of Change               0
Company Conformed Name          0
Fiscal Year End                 0
Y-1 Profit Margin               0
Y Profit Margin                 0
Y+1 Profit Margin               0
Current Revenue YOY             0
Next Revenue YOY                0
Current Profit Margin YOY       0
Next Profit Margin YOY          0
Current ROE YOY               321
Future ROE YOY                311
dtype: int64

In [36]:
# Fill NaN values with 0 in specific columns
merged_df[['Y-1 ROE', 'Y+1 ROE','Y-1 Asset', 'Y+1 Asset']] = merged_df[['Y-1 ROE', 'Y+1 ROE','Y-1 Asset', 'Y+1 Asset']].fillna(0)

In [37]:
merged_df.columns

Index(['Ticker', 'CIK', 'Year', 'Y-1 ROE', 'ROE', 'Y+1 ROE', 'Y-1 Asset',
       'Asset', 'Y+1 Asset', 'Year-1 Revenue', 'Revenue', 'Year+1 Revenue',
       'Year-1 Net Income', 'Net Income', 'Year+1 Net Income',
       'Accession Number', 'Conformed Submission Type',
       'Conformed Period Of Report', 'Filed As Of Date', 'Date As Of Change',
       'Company Conformed Name', 'Fiscal Year End', 'Y-1 Profit Margin',
       'Y Profit Margin', 'Y+1 Profit Margin', 'Current Revenue YOY',
       'Next Revenue YOY', 'Current Profit Margin YOY',
       'Next Profit Margin YOY', 'Current ROE YOY', 'Future ROE YOY'],
      dtype='object')

In [38]:
#merged_df.to_csv('ROE_Mapped_data.csv')

In [39]:
merged_df.columns = merged_df.columns.str.upper()

In [40]:
merged_df.columns

Index(['TICKER', 'CIK', 'YEAR', 'Y-1 ROE', 'ROE', 'Y+1 ROE', 'Y-1 ASSET',
       'ASSET', 'Y+1 ASSET', 'YEAR-1 REVENUE', 'REVENUE', 'YEAR+1 REVENUE',
       'YEAR-1 NET INCOME', 'NET INCOME', 'YEAR+1 NET INCOME',
       'ACCESSION NUMBER', 'CONFORMED SUBMISSION TYPE',
       'CONFORMED PERIOD OF REPORT', 'FILED AS OF DATE', 'DATE AS OF CHANGE',
       'COMPANY CONFORMED NAME', 'FISCAL YEAR END', 'Y-1 PROFIT MARGIN',
       'Y PROFIT MARGIN', 'Y+1 PROFIT MARGIN', 'CURRENT REVENUE YOY',
       'NEXT REVENUE YOY', 'CURRENT PROFIT MARGIN YOY',
       'NEXT PROFIT MARGIN YOY', 'CURRENT ROE YOY', 'FUTURE ROE YOY'],
      dtype='object')

In [42]:
merged_df = merged_df.rename(columns={'Y-1 ROE':'YEAR-1 ROE','Y+1 ROE':'YEAR+1 ROE','Y-1 ASSET':'YEAR-1 ASSET','Y+1 ASSET':'YEAR+1 ASSET'})

In [43]:
merged_df.columns

Index(['TICKER', 'CIK', 'YEAR', 'YEAR-1 ROE', 'ROE', 'YEAR+1 ROE',
       'YEAR-1 ASSET', 'ASSET', 'YEAR+1 ASSET', 'YEAR-1 REVENUE', 'REVENUE',
       'YEAR+1 REVENUE', 'YEAR-1 NET INCOME', 'NET INCOME',
       'YEAR+1 NET INCOME', 'ACCESSION NUMBER', 'CONFORMED SUBMISSION TYPE',
       'CONFORMED PERIOD OF REPORT', 'FILED AS OF DATE', 'DATE AS OF CHANGE',
       'COMPANY CONFORMED NAME', 'FISCAL YEAR END', 'Y-1 PROFIT MARGIN',
       'Y PROFIT MARGIN', 'Y+1 PROFIT MARGIN', 'CURRENT REVENUE YOY',
       'NEXT REVENUE YOY', 'CURRENT PROFIT MARGIN YOY',
       'NEXT PROFIT MARGIN YOY', 'CURRENT ROE YOY', 'FUTURE ROE YOY'],
      dtype='object')

In [44]:
merged_df.to_csv('ROE_Mapped_data.csv')

In [45]:
merged_df

,TICKER,CIK,YEAR,YEAR-1 ROE,ROE,YEAR+1 ROE,YEAR-1 ASSET,ASSET,YEAR+1 ASSET,YEAR-1 REVENUE,...,FISCAL YEAR END,Y-1 PROFIT MARGIN,Y PROFIT MARGIN,Y+1 PROFIT MARGIN,CURRENT REVENUE YOY,NEXT REVENUE YOY,CURRENT PROFIT MARGIN YOY,NEXT PROFIT MARGIN YOY,CURRENT ROE YOY,FUTURE ROE YOY
0,A US,0001090872,2002,3.185646283,-20.06610927,-55.24090726,7986.0,8203.0,6297.0,8396.0,...,1031,0.0207241543592186,-0.1717138103161397,-0.3398282694848084,0.2446544151641239,0.0134184561810795,nan,-0.1681144591686686,-23.251756,-35.174798
1,A US,0001090872,2003,-20.06610927,-55.24090726,11.54387611,8203.0,6297.0,7144.0,6010.0,...,1031,-0.1717138103161397,-0.3398282694848084,0.0715116279069767,0.0134184561810795,-0.0811857146129704,-0.1681144591686686,0.4113398973917851,-35.174798,66.784783
2,A US,0001090872,2006,8.549019608,85.57381291,18.54112177,6751.0,7369.0,7554.0,4685.0,...,1031,0.0697972251867662,0.6649909511361352,0.1177121771217712,-0.0070188027671574,0.1656109210392602,1.0048192206209436,-0.547278774014364,77.024793,-67.032691
3,A US,0001090872,2007,85.57381291,18.54112177,23.92542724,7369.0,7554.0,7437.0,4973.0,...,1031,0.6649909511361352,0.1177121771217712,0.1200207828195358,0.230126901094643,-0.0077646354716268,-0.547278774014364,0.0023086056977646,-67.032691,5.384305
4,A US,0001090872,2008,18.54112177,23.92542724,-1.224086871,7554.0,7437.0,7612.0,5420.0,...,1031,0.1177121771217712,0.1200207828195358,-0.0069180986386967,-0.0077646354716268,nan,0.0023086056977646,-0.1269388814582325,5.384305,-25.149514
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3315,ZTS US,0001555280,2018,53.05495855,72.21238938,61.31207848,8586.0,10777.0,11545.0,5307.0,...,1231,0.1628038439796495,0.2451502145922746,0.2396166134185303,0.0315620613595347,0.1308607417774667,0.0823463706126251,-0.0055336011737443,19.157431,-10.900311
3316,ZTS US,0001555280,2019,72.21238938,61.31207848,50.57897175,10777.0,11545.0,13609.0,5825.0,...,1231,0.2451502145922746,0.2396166134185303,0.2453932584269663,0.1308607417774667,0.0103135313531353,-0.0055336011737443,0.0057766450084359,-10.900311,-10.733107
3317,ZTS US,0001555280,2020,61.31207848,50.57897175,49.01347449,11545.0,13609.0,13900.0,6260.0,...,1231,0.2396166134185303,0.2453932584269663,0.2619598765432099,0.0103135313531353,nan,0.0057766450084359,0.0165666181162436,-10.733107,-1.565497
3318,ZTS US,0001555280,2021,50.57897175,49.01347449,47.2507823,13609.0,13900.0,14925.0,6675.0,...,1231,0.2453932584269663,0.2619598765432099,0.2616336633663366,0.1208842897460018,-0.0428731291089662,0.0165666181162436,-0.0003262131768732,-1.565497,-1.762692
3319,ZTS US,0001555280,2022,49.01347449,47.2507823,49.86173155,13900.0,14925.0,14286.0,7776.0,...,1231,0.2619598765432099,0.2616336633663366,0.2743445692883895,-0.0428731291089662,0.0382900986481549,-0.0003262131768732,0.0127109059220528,-1.762692,2.610949